.portfolio-wrapper {
    width: 100%;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

.project-wrapper {
    border: solid 1px black;
    width: 270px;
    margin: 20px 20px;
    text-align: center;
}

.project-img {
    height: 250px;
    width: 250px;
    margin: 10px;
    cursor: pointer;
}

.project-title {
    margin: 0 0;
}